.contents {
  display: grid;
  /* grid-template-columns: 1fr 1fr;
  grid-gap: 2rem; */
}

main {
  background: #f3f4f6;
  grid-area: main;
  overflow-y: auto;
}

.main__container {
  padding: 20px 35px;
}

.button {
  font-size: 24px;
  padding: 8px 12px;
}